@import url("https://fonts.googleapis.com/css?family=Slabo+27px");

* {
  margin: 0;
}

body{
  background: #302f2d;
}

.container1 {
  width: 100%;
  height: 100px;
  position: relative;
  font-family: 'Trebuchet Ms';
}

.bg {
  background:black;
  width: 100%;
  height: 100px;
  opacity: 0;
}

.show {
  opacity: 0.6;
}

.transition {    
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  height: 200px;
  margin: -70px auto 0 auto;
  width: 500px;
}

li {
  float: left; 
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgb(245, 241, 241);
}

a {
  text-align: center;
  font-size: 50px;
  color: rgb(28, 39, 39);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #f1ecec;
  
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: block;
}

a:hover {
  color: #f8f6f6;
  text-shadow: 1px 1px 1px #C9C9C9;
}

.down {
  top: 150px;
}

.up {
  top: 1800px;
}

section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 30ms linear;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: blur(5x);
  filter: blur(5px);
  opacity: 0;
}

.stuff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*opacity: 0.8;*/
}

h1 {
  font-family: "Slabo 27px", serif;
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  text-shadow: 8px 8px 12px #000;
  /*opacity: 0.8;*/
  text-align: center;
}

p {
  font-family: "Slabo 27px", serif;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  text-shadow: 8px 8px 12px #000;
  opacity: 0.8;
  text-align: center;
}

.about {
  height: 100vh;
  background-color: darkslategrey;
}

.bar{
    height: 3px;
    width: 100%;
    z-index: 10;
    background-color: palegoldenrod;
    display: inline-block;
    position: absolute;
    top: 100px;
}

.logo {
    background-color: transparent;
    z-index: 2;
    position: absolute;
    left: 1rem;
    top: 0%;
    width: 20%
}

  .navigation__checkbox {
    display: none; }

  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: .5rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }

  .navigation__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: .5rem;
    right: 1.1rem;
    background-image: radial-gradient(#f3cf2d, #bb5729);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }

  .navigation__item {
    margin: 1rem; }

  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }

  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }

  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }

  .navigation__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }

  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

      .card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem; }
    .card__side {
      height: 40rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side--front {
        background-color: #fff; }
      .card__side--back {
        transform: rotateY(180deg); }
        .card__side--back-1 {
          background-image: linear-gradient(to right bottom, #302f2d, #2c2a29); }
        .card__side--back-2 {
          background-image: linear-gradient(to right bottom, #302f2d, #2c2a29); }
        .card__side--back-3 {
          background-image: linear-gradient(to right bottom, #302f2d, #2c2a29); }
    .card:hover .card__side--front {
      transform: rotateY(-180deg); }
    .card:hover .card__side--back {
      transform: rotateY(0); }
    .card__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .card__picture--1 {
        background-image: linear-gradient(to right bottom, #302f2d, #2c2a29), url(../img/nat-5.jpg); }
      .card__picture--2 {
        background-image: linear-gradient(to right bottom, #302f2d, #2c2a29), url(../img/nat-6.jpg); }
      .card__picture--3 {
        background-image: linear-gradient(to right bottom, #302f2d, #2c2a29), url(../img/nat-7.jpg); }
    .card__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; }
    .card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0), rgba(255, 120, 48, 0)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0), rgba(255, 187, 0, 0)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0), rgba(255, 187, 0, 0)); }
    .card__details {
      padding: 3rem; }
      .card__details ul {
        list-style: none;
        width: 80%;
        margin: 0 auto; }
        .card__details ul li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem; }
          .card__details ul li:not(:last-child) {
            border-bottom: 1px solid #eee; }
    .card__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center; }
    .card__price-box {
      text-align: center;
      color: #fff;
      margin-bottom: 0rem; }
    .card__price-only {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .card__price-value {
      font-size: 6rem;
      font-weight: 100;
      height: 50px; }

      .section-tours {
    background-color: #f7f7f7;
    padding: 1rem 0 1rem 0;
    margin-top: 0rem; 
    height: 100%;
    width: 100%;
  }

    .section-stories {
    position: relative;
    padding: 8rem 0; }

    .section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #302f2d, #2c2a29); }

  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    height: 50rem; }
    .book__form {
      width: 50%;
      padding: 6rem; }

      .logos{
          width: 100%;
          height: 100%;
          background-color: #302f2d;
              }
              .inside-logo {
                display: flex;
                justify-content: center;
                margin-top: 25px;
                margin-bottom: 25px;
                overflow: hidden;
              }

              /* TOOK FROM ^^^^^ */
                /* margin-left: 25%;
                margin-right: 25%; */



              .row {
                background-color: #acacab;
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
    
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div {
	background-color:#3c3c3c;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 25%;
	position: absolute;
	margin-left: -260px;
}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.hey {
  text-align: left;
}

  .row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-2-of-3 {
      width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-4 {
      width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
    .row .col-3-of-4 {
      width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

      .story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg); }
    .story__shape {
      width: 12rem;
      height: 12rem;
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(12deg);
      position: relative; }
    .story__img {
      margin-bottom: 1rem;
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: all .5s; }
    .story__text {
      transform: skewX(12deg); }
    .story__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden; }
    .story:hover .story__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .story:hover .story__img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%); }

      .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s; }
    .heading-secondary:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
